# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# VS Code
.vscode/
.idea/

# Virtual Environments
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
*.env

# Django database files
*.sqlite3
*.db
*.db-journal
*.sqlite3-journal

# Migrations (optional)
**/migrations/*.pyc
**/migrations/__pycache__/

# Logs
*.log

# Ignore Django static files folder
/staticfiles/
/static/

# OS files
.DS_Store
Thumbs.db
